<section class="box skills">
    <img src="https://myreadme.vercel.app/api/embed/MilanJulinac42?panels=userstatistics,toprepositories,toplanguages,commitgraph" alt="reimaginedreadme" />
</section>

<style>
    .box {
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
	}

	.skills {
		display: flex;
		flex-direction: column;
        align-items: center;
		gap: 3rem;
        width: 100%;
	}

    .image {
        width: 80%;
    }
</style>