<section class="box skills">
    <img class="image" src="https://github-readme-stats.vercel.app/api/top-langs?username=MilanJulinac42&show_icons=true&locale=en&layout=compact&theme=chartreuse-dark" alt="ovi" />
</section>

<style>
    .box {
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
	}

	.skills {
		display: flex;
		flex-direction: column;
        align-items: center;
		gap: 3rem;
        width: 100%;
	}

    .image {
        width: 80%;
    }
</style>