---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Quick learner</h2>
		<p>Fast learner, able to grasp new concepts quickly. Good capacity to retain new abilities. I am Strategic thinker and a good listener and I apply those skills to learn quickly. Can come up with several solutiuns to solve problem. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Reliable</h2>
		<p>Reliable hard worker, you can trust me to behave well, work hard and be always on time. Able to assume responsibility and learn from personal mistakes. Used to working under pressure and completing tasks within time limits. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Helpful & Friendly</h2>
		<p>Open - minded team player who is good at communicating. Will never point fingers and look for faults in others and their work. Instead, will always try to help out the team or anyone who might be strugling. </p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
